<!DOCTYPE html>
	<html>
	<head>
		<title>Camel Konsole</title>
	</head>

	<body>

	<div class="content">
		<h1>List of available namespaces</h1>
		<ul class="list">
			<% for(var i=0; i < namespaces.length; i++) {
				%>
				<li>
					<div class="list-li-title">
						<a href="/namespace/<%= namespaces[i].metadata.name %>/"><%= namespaces[i].metadata.name %></a>
					</div>
				</li>
			<% } %>
		</ul>
	</div>

</body>
</html>
