<!DOCTYPE html>
	<html>
	<head>
		<title>Camel Konsole: login</title>
		<link rel="stylesheet" href="/css/camel.css" />
		<link rel="stylesheet" href="/css/v0.0.1.css" />
		<script src="/js/client.js"></script>
	</head>

	<body>

	<div class="content loginpage">
			<div class="loginlabel"><img alt="Camel Konsole" src="/img/logo-d.svg" width="32" height="32"> Camel Konsole login</div>
			<form>
				<div><input id="USER" name="user" type="text" placeholder="developer" /></div>
				<div><input id="PASSWORD" name="name" type="password" /></div>
				<div id="BUTTON">
						<button onclick="login(); return false;">Login</button>
				</div>
				<div id="MESSAGE"></div>
			</form>
	</div>

</body>
</html>
