<footer>
  <div class="footerlinks">
    <a href="https://camel.apache.org/camel-k/latest/index.html">Documentation</a> |
    <a href="https://camel.apache.org/camel-k/latest/index.html">About Camel</a> |
    <a href="https://camel.apache.org/camel-k/latest/index.html">About Camel K</a>
  </div>
</footer>
