<header class="header">

  <div class="logo">
    <a href="/">
      <img alt="Camel Konsole" src="/img/logo-d.svg" width="32" height="32"> Camel Konsole
    </a>
  </div>

  <div class="login">
    User: <%= user %> [<a href="/logout">x - logout</a>]
  </div>

</header>
