<nav class="nav-container">
  <div>
    <a href="/namespace/<%= namespace %>">Integrations</a>
  </div>
  <div>
    <a href="./kits">Integration Kits</a>
  </div>
  <div>
    <a href="./kamelets">Kamelets</a>
  </div>
  <div>
    <a href="./catalogs">Camel Catalog</a>
  </div>
</nav>
