<nav class="nav-container">
  <div>
    <a href="/namespace/<%= namespace %>">Integrations</a>
  </div>
  <div>
    <a href="/kamelets">Kamelets</a>
  </div>
  <div>
    <a href="/secrets">Secrets</a>
  </div>
  <div>
    <a href="/knative">Knative</a>
  </div>
</nav>
